body {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0
}
#root {
  width:100vw;
  height:100vh;
  overflow: hidden;
  position: relative;
  /* background: #323232; */
}
 @font-face {
  font-family: snes-font;
  src: url(../../public/SnesItalic-1G9Be.ttf);
 }
 @font-face {
  font-family: camera-font;
  src: url(../../public/VCR_OSD_MONO_1.001.ttf);
 }



 .controller-text {
  color:white;font-size: 36px;font-family: snes-font;width:500px;text-align: center;
 }

 .container1 {
  position: absolute;
  left:0;
  width: 100vw;
  height:100vh;
  z-index:3;
  display: flex;
  align-items: center;

  justify-content: center;

  pointer-events: none;
 }
 .container2 {
  position: absolute;
  top:0;
  width: 100vw;
  height:100vh;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding:52px;
  pointer-events: none;
 }
 .container3 {
  position: absolute;
  /* top:0; */
  width: 100%;
  height:100vh;
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:1440px;
  margin: auto;
 }
  .container4 {
  position: absolute;
  left:0;
  width: 100vw;
  height:100vh;
  z-index:3;
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 64px;
  min-height: 580px;
  padding-bottom:144px;
  padding-top:172px;
  pointer-events: none;
 }
 .contact-form {
  color:white;
  font-family: snes-font;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  max-width:1440px;
  height:100%;
  justify-content:center;
  align-items:center;
  margin:auto;
  padding:24px;
  pointer-events: auto;
  /* font-family: ; */
 }
 .project-container {
  color:white;
  font-family: snes-font;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  max-width:1440px;
  height:100%;
  justify-content:center;
  align-items:center;
  margin:auto;
  padding:24px;

  /* font-family: ; */
 }
 .cf-title {
font-size: 144px;
width:1245px;
text-align: center;
 }
 .cf-data {
  padding:16px;
  /* height: 100px; */
  position: relative;
  /* border:solid beige 1px */

 }
.cf-label {
  font-size:24px;
  position:absolute;
  bottom:24px;
  left:20px;
  transition: bottom ease-in 250ms
}
 .cf-input {
  background:none;
  border:solid rgba(255, 255, 255, 0) 4px;
  border-bottom:solid white 4px;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  padding:0 12px;
  transition: all ease-in 350ms;
 }
 .cf-input-2 {
  background:rgba(255, 255, 255, 0.2);
  border:solid rgba(255, 255, 255, 1) 4px;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  padding:0 12px;
 }

 .cf-error {
  background:rgba(255, 255, 255, 0.2);
  border:solid red 4px;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  padding:0 12px;
 }
 .cf-error-2 {
  background:none;
  border:solid rgba(255, 255, 255, 0) 4px;
  border-bottom:solid red 4px;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  padding:0 12px;
 }

 .cf-input:focus {
  outline:none
 }
 .cf-input-i {
  height:44px;
  width:50vw;
 }
 .cf-input-i:focus {
  outline:none
 }
 .cf-input-m {
  height:200px;
  width:50vw;
  padding:12px;
 }
 .cf-input-m:focus {
  outline:none
 }
.cf-button {
  height:44px;
  width:112px;
  border:solid rgba(255, 255, 255, 1) 1px;
  background:none;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  cursor:pointer;
  pointer-events:auto;
  position: absolute;
  bottom:16px;
  right:16px
}
.cf-button:hover {
  background:rgba(255, 255, 255, 0.2)
}
.cf-button-2 {
  height:44px;
  width:112px;
  border:solid rgba(255, 255, 255, 1) 1px;
  background:none;
  color:white;
  font-family: snes-font;
  font-size: 20px;
  cursor:pointer;
  pointer-events:auto;
}
.cf-button-2:hover {
  background:rgba(255, 255, 255, 0.2)
}


.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}