.load-conatainer {
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: camera-font;
    gap: 16px;
    background: rgba(199, 199, 199, 1);
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    filter:blur(0px);
    background: rgba(199, 199, 199, 1);
    transition: all 1s ease-in;
    animation-delay: 3s;
}
.load-text{
font-size: 44px;
}
.load-text-2{
font-size: 44px;
color:rgba(0, 0, 0, 0);
transition: all 250ms ease-in;
}
.load-bar{
    width:25%;
    height:48px;
    border:4px solid black;
    padding:4px;
}
.l-b-porgress {
    height: 100%;
    background: black;
    animation: loading 4s forwards;
}
@keyframes loading{
    0%{
        width:0%
    }
    100%{
        width:100%
    }
}
/* @keyframes blur{
    0%{
        filter:blur(0px);
        background: rgba(199, 199, 199, 1);
    }
    100%{
        filter:blur(100px);
        background: rgba(199, 199, 199, 0);
    }
} */