.main-title {
    position:absolute;
    width: fit-content;
    text-align: center;


    margin-top:72px;


    color:white;
    text-shadow: 2px 2px 0px #b2b4b2;
    z-index: 2;
    font-size: 114px;
    font-family: snes-font;
    display: flex;

    top: 0;
    left:50%;
    transform: translate(-50%,0);
    pointer-events: auto;
    cursor: pointer;
   }

.m-t-letter {
    display: block;
    /* width:100% */
    margin:0 0.1rem;
    width:fit-content
}